body {
    background: #E5E5E5;
    font-family: 'Libre Baskerville', serif;
    font-size: 10px;
  }

.page-cpf {
  min-height: 100vh;
}

/* canvas {
 
  width: 100%;
  height: auto;
} */
.sec-selections {
  flex-basis: 40%;
}

.sec-selections h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.sec-selections > div {
  margin-bottom: 1.5rem;
}

.sec-selections ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
} 

.sec-selections ul > li {
  margin-right: 1rem;
  padding: 1px;
  border: 3px solid #ffffff;
  cursor: pointer;
  line-height: 0.8;
}

.sec-selections ul > li:last-child {
  margin-right: 0;
}

.sec-frame div {
  position: relative;
  height: 550px;
}

.sec-text label {
  margin-right: 1rem;
}

#canvasFrGr, #canvasBkGr, #canvasText {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}


#canvasBkGr {
  z-index: 0;
  max-width: 100%;
    max-height: 550px;
}

#canvasFrGr {
  z-index: 1;
  max-width: 100%;
    max-height: 550px;
}

#canvasText {
  z-index: 2;
}



  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
  }

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #scrollable {
    overflow: auto;
    width: 100%;
    
  }

  #frame_items {
    width: 3000px;
    /* itemWidth x itemCount */
  }

  .item {
    float: left;
  }

  .dot {
    height: 35px;
    width: 35px;
   
    border-radius: 50%;
    display: inline-block;
  }

  .side-tab-1 {
    background: white;
    padding: 5%;
  }

  
  .collapsible {
  background-color:white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: white;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}



.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}